* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #27282c;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    width: 100%;
    gap: 8rem;
}

.card {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

.form-group {
    margin-bottom: 20px;
    color: gray;
    padding: 2rem 1.8rem 0 1.8rem;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

input {
    width: 100%;
    padding: 15px;
    border: 2px solid #3498db;
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 16px;
    color: #555;
}

button {
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary {
    background-color: #3498db;
    color: #fff;
    border: none;
}

.room-content {
    display: none;
}

hr {
    border: 0;
    height: 1px;
    background: #fff;
    margin: 30px 0;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
